<footer class="main-footer">
  <div class="footer-content">
    <p>&copy; <%= Time.now.year %> Maino Filmes. Todos os direitos reservados.</p>
    <nav class="footer-nav">
      <%= link_to "Política de Privacidade", "#", class: "footer-link" %>
      <%= link_to "Termos de Uso", "#", class:"footer-link" %>
      <%= link_to "Contato", "#", class:"footer-link" %>
    </nav>
  </div>
</footer>